body, html {
	height: 100%;
}

body {
	font-family: sans-serif;
}

div.welcome {
	height: 100%;
	text-align: center;
}

div.welcome img {
	position: relative;
  	top: 50%;
  	transform: translateY(-50%);
	width: 300px;
}

div.button {
	background-color: gray;
	width: 300px;
	height: 100px;
	text-align: center;
	position: relative;
	margin: auto;
	margin-top: 50px;
	padding-top: 75px;
	border-radius: 10px;
}

div.button.hover {
	background-color: darkgray
}

div.button.a {
	color: white;
}

a {
	text-decoration: none;	
	color: white;
}

a.visited {
	color: white;
}